<% if (site.tags.length){ %>
  <div class="widget-wrap">
    <h3 class="widget-title">About Me</h3>
    <div class="widget">
      <br /><br /><br />
      <p>Tech Evangelist</p>
    </div>
  </div>
<% } %>